/**
 * Applied to buttons that should have a fixed width.
 */
.sc-FixedWidthButton {
  width: 8em;
}

/**
 * Applied to specific components in Content Widgets.
 */
.cw-BasicPopup-thumb {
  cursor: pointer;
  cursor: hand;
}
/*
@noflip {
*/
  .cw-DictionaryExample-header {
    color: #7aa5d6;
    text-decoration: underline;
    font-weight: bold;
    padding-right: 20px;
  }
/*
}
*/
/*
@noflip {
*/
  .cw-DictionaryExample-data {
    padding-right: 20px;
  }
/*
}
*/

.cw-DockPanel td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.cw-FlexTable-buttonPanel td {
  border: 0px;
}

.cw-FlowPanel-checkBox {
  margin-right: 20px;
}

.cw-RedText {
  color: red;
}

.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

.cw-StackPanelHeader {
  padding-left: 7px;
  font-weight: bold;
  font-size: 1.4em;
}
 /*
 MileageWedget 201305
 */
    .mileageWedgetHeader {
      font-size: 8pt;
      font-weight: bold;
      line-height: 10pt;
	}
    .mileageWedgetDate {
	  font-size: 8pt;
      text-align: left;
	}
    .mileageWedgetFloat {
      font-size: 8pt;
      text-align: right;
	}
    .mileageWedgetInt {
      font-size: 8pt;
      text-align: right;
	}
 /*
 NewsCountWedget 201409
    .NewsCountWedget {
      background-color:#CECECE;
	}
    .NewsCountWedgetHeaderYellow {
      font-style: italic;
	  font-size: 8pt;
      text-align: center;
	  background-color:#ffffaa;
  	  border: 2px solid white;
	}
 */
 /*
    .NewsCountWedgetStringWhite {
	  font-size: 8pt;
      text-align: center;
      background-color:White;
	}
    .NewsCountWedgetStringSilver {
	  font-size: 8pt;
      text-align: center;
      background-color:#e0e0e0;
	}
    .NewsCountWedgetIntWhite {
      font-size: 8pt;
      text-align: right;
      background-color:white;
	}
    .NewsCountWedgetIntSilver {
      font-size: 8pt;
      text-align: right;
      background-color:#e0e0e0;
	}
 */	
 /*
 NewsCountMap 201512
 */
    .NewsCountMap {
      height: 100%;;
	}

